# .vagrant
.vagrant/

# Eclipse
.settings/
*.prefs
.project
.buildpath

# Node
node_modules/

# Erlang
*.beam

# Golang
*.syso

# binary file
*.exe
*.msi
*.app
*.dmg
*.class

# その他
.DS_Store*
*.bak
*.log
*.out
Thumbs.db
desktop.ini
