# .vagrant
.vagrant/

# Eclipse
.settings/
*.prefs
.project
.buildpath

# Node
node_modules/

# Erlang
*.beam

# Golang
*.syso

# Java
*.class

# binary file
*.exe
*.msi
*.app
*.dmg

# その他
.DS_Store*
*.bak
*.log
*.out
Thumbs.db
desktop.ini

# Play
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
