<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body>
    <form method="POST">
        <input type="text" name="name">
        <input type="submit" value="POST">
        <ul>
<% for (var i = 0; i < posts.length; i++) { %>
            <li><%= posts[i] %></li>
<% } %>
        </ul>
    </form>
</body>
</html>
